<div class="container">

	<div class="jumbotron">
		<div class="text-center">
			<h1>You are playing against the MSG-AI!</h1>
		</div>

    <div class="row align-items-center">
      <div class="col">
        <div align="right">
          <h2>Hit : {{hitIndex}} from {{getMaxHits()}}.</h2>
        </div>
      </div>

      <div class="col justify-content-right">
        <div>
          <div align="right">
            <!--
          <div class="chart-container" style="position: relative; height:15vh; width:15vw">
          -->
            <div style="display: block; ; height:15vh; width:15vw">
              <canvas baseChart
                      [datasets]="barChartData"
                      [labels]="barChartLabels"
                      [options]="barChartOptions"
                      [plugins]="barChartPlugins"
                      [legend]="barChartLegend"
                      [colors]="chartColors"
                      [chartType]="barChartType">
              </canvas>
            </div>
          </div>

        </div>
      </div>

    </div>


  </div>


	<div class="row">
		<div class="col-md-4">
			<div>
				<button (click)="clickRock()">
          <img alt="Rock Logo" src={{rockImage}} style="width:100%">
        </button>
      </div>
    </div>

    <div class="col-md-4">
      <div>
        <button (click)="clickPaper()">
          <img alt="Paper Logo" src={{paperImage}} style="width:100%">
        </button>
      </div>
    </div>

    <div class="col-md-4">
      <div>
        <button (click)="clickScissors()">
          <img alt="Scissor Logo" src={{scissorsImage}} style="width:100%">
        </button>
      </div>
    </div>
  </div>


  <div class="row mt-5 justify-content-center">
    <!--
    <div *ngIf="currentHit>=0">
    -->
    <div>
      <div class="text-center">
      <mat-card [style.background]="getBackgroundColor()">
        <mat-card-content>
            <div>
              You:
              <div>
                <button>
                  <img alt="Your hit" src={{currentHumanHitImage}} style="width:50%">
                </button>
              </div>

              <!--
              <div *ngIf="currentHit===0">
                <button>
                  <img alt="Rock" src={{rockImage}} style="width:50%">
                </button>
              </div>

              <div *ngIf="currentHit===1">
                <button>
                  <img alt="Paper" src={{paperImage}} style="width:50%">
                </button>
              </div>

              <div *ngIf="currentHit===2">
                <button>
                  <img alt="Scissors" src={{scissorsImage}} style="width:50%">
                </button>
              </div>
              -->
            </div>

            <div>
              AI:
              <div>
                <button>
                  <img alt="AI hit" src={{currentAiHitImage}} style="width:50%">
                </button>
              </div>

              <!--
              <div *ngIf="currentAiHit===0">
                <button>
                  <img alt="Rock" src={{rockImage}} style="width:50%">
                </button>
              </div>

              <div *ngIf="currentAiHit===1">
                <button>
                  <img alt="Paper" src={{paperImage}} style="width:50%">
                </button>
              </div>

              <div *ngIf="currentAiHit===2">
                <button>
                  <img alt="Scissors" src={{scissorsImage}} style="width:50%">
                </button>
              </div>
              -->
            </div>

            <!--
            <div>
              <div *ngIf="aiBits[i]==='Rock'"><app-image-rock [imgWidth]="50" player="AI:"></app-image-rock></div>
              <div *ngIf="aiBits[i]==='Scissors'"><app-image-scissors [imgWidth]="50" player="AI:"></app-image-scissors></div>
              <div *ngIf="aiBits[i]==='Paper'"><app-image-paper [imgWidth]="50" player="AI:"></app-image-paper></div>
            </div>
            -->
        </mat-card-content>

        <mat-card-footer>
          <h2>{{getResultText()}}</h2>
        </mat-card-footer>

      </mat-card>
      </div>
    </div>

  </div>

  <div class="row mt-5">
    <mat-progress-bar mode="determinate" value="{{progressBarValue}}"></mat-progress-bar>
  </div>


  <div class="row mt-5">
    <button mat-raised-button color="primary" (click)="nextPage()">To start</button>
  </div>

</div>
