<div class="container">

	<div class="jumbotron">
		<div class="text-center">
			<h1>Sie spielen gegen MSG-AI!</h1>
		</div>
		<div class="text-center">
			<h2>
				Gespielt {{hitIndex}} Spiel aus {{getMaxHits()}}.
			</h2>
		</div>
	</div>


	<div class="row">
		<div class="col-md-4">
			<div>
				<button (click)="addRock()">
          <img alt="Rock Logo" src="./assets/rock.jpg" style="width:60%">
        </button>
      </div>
    </div>

    <div class="col-md-4">
      <div>
        <button (click)="addPaper()">
          <img alt="Paper Logo" src="./assets/paper.png" style="width:40%">
        </button>
      </div>
    </div>

    <div class="col-md-4">
      <div>
        <button (click)="addScissors()">
          <img alt="Scissor Logo" src="./assets/scissors.jpg" style="width:100%">
        </button>
      </div>
    </div>
  </div>


  <div class="row mt-5 justify-content-center">
    <div *ngIf="currentHit>=0">
      <div class="text-center">
      <mat-card [style.background]="getBackgroundColor()">
        <mat-card-content>

            <div>
              You:
              <div *ngIf="currentHit===0">
                <button>
                  <img alt="Rock" src="./assets/rock.jpg" style="width:30%">
                </button>
              </div>

              <div *ngIf="currentHit===1">
                <button>
                  <img alt="Paper" src="./assets/paper.png" style="width:30%">
                </button>
              </div>

              <div *ngIf="currentHit===2">
                <button>
                  <img alt="Scissors" src="./assets/scissors.jpg" style="width:30%">
                </button>
              </div>
            </div>

            <div>
              AI:
              <div *ngIf="currentAiHit===0">
                <button>
                  <img alt="Rock" src="./assets/rock.jpg" style="width:30%">
                </button>
              </div>

              <div *ngIf="currentAiHit===1">
                <button>
                  <img alt="Paper" src="./assets/paper.png" style="width:30%">
                </button>
              </div>

              <div *ngIf="currentAiHit===2">
                <button>
                  <img alt="Scissors" src="./assets/scissors.jpg" style="width:30%">
                </button>
              </div>
            </div>

            <!--
            <div>
              <div *ngIf="aiBits[i]==='Rock'"><app-image-rock [imgWidth]="50" player="AI:"></app-image-rock></div>
              <div *ngIf="aiBits[i]==='Scissors'"><app-image-scissors [imgWidth]="50" player="AI:"></app-image-scissors></div>
              <div *ngIf="aiBits[i]==='Paper'"><app-image-paper [imgWidth]="50" player="AI:"></app-image-paper></div>
            </div>
            -->
        </mat-card-content>
      </mat-card>
      </div>
    </div>

  </div>


  <div class="row mt-5">
    <button mat-raised-button color="primary" (click)="nextPage()">Zum Spielbegin</button>
  </div>

</div>
