<div class="container">
  <div class="jumbotron">
    <h1 class="text-center">MSG Schere-Stein-Papier Spiel</h1>
    <h4 class="text-center">Demonastration der Maschinen Learning</h4>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div>
        <button (click)="chooseImage(0)">
          <img alt="Simeon Logo" src="./assets/lights.jpg" style="width:100%">
        </button>
      </div>
      <div><h4>Simeon</h4></div>
      <div>
        <div *ngIf="getLeaderActiv(0)">
          <img alt="Ausgewält Logo" width="100" src="./assets/29021449-stock-vector-three-dimensional-green-hook.jpg">
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div>
        <button (click)="chooseImage(1)">
          <img alt="Hendrik Logo" src="./assets/nature.jpg" style="width:100%">
        </button>
      </div>
      <div><h4>Hendrik</h4></div>
      <div>
        <div *ngIf="getLeaderActiv(1)">
          <img alt="Ausgewält Logo" width="100" src="./assets/29021449-stock-vector-three-dimensional-green-hook.jpg">
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div>
        <button (click)="chooseImage(2)">
          <img alt="Helge Logo" src="./assets/fjords.jpg" style="width:100%">
        </button>
      </div>
      <div><h4>Helge</h4></div>
      <div *ngIf="getLeaderActiv(2)">
        <img alt="Ausgewält Logo" width="100" src="./assets/29021449-stock-vector-three-dimensional-green-hook.jpg">
      </div>
    </div>
  </div>

  <div class="row">
    <div *ngIf="isLeaderChoosen">
      <button mat-raised-button color="primary" [routerLink]="['/game']">Start Spiel</button>
    </div>

  </div>
