<div class="container">

  <div >
    <img alt="MSG Logo" src="{{msgLogo}}" style="width:100%">
  </div>

  <br>

  <div class="jumbotron">
    <h1 class="text-center">MSG Schere-Stein-Papier Spiel</h1>
    <h4 class="text-center">The Maschine Learning demonstration</h4>
  </div>

  <div *ngIf="mode === 'playing'">
    <div class="row">
      <div class="col-md-4">
        <div>
          <button (click)="chooseImage(0)">
            <img alt="Simeon Logo" src="{{anonymImage}}" style="width:50%">
          </button>
        </div>
        <div>Simeon</div>
        <div>
          <div *ngIf="getLeaderActiv(0)">
            <img alt="Ausgewält Logo" width="100" src="{{okImage}}">
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div>
          <button (click)="chooseImage(1)">
            <img alt="Hendrik Logo" src="{{anonymImage}}" style="width:50%">
          </button>
        </div>
        <div>Hendrik</div>
        <div>
          <div *ngIf="getLeaderActiv(1)">
            <img alt="Ausgewält Logo" width="100" src="{{okImage}}">
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div>
          <button (click)="chooseImage(2)">
            <img alt="Helge Logo" src="{{anonymImage}}" style="width:50%">
          </button>
        </div>
        <div>Helge</div>
        <div *ngIf="getLeaderActiv(2)">
          <img alt="Ausgewält Logo" width="100" src="{{okImage}}">
        </div>
      </div>
    </div>

    <div class="row">
      <div *ngIf="isLeaderChoosen">
        <button mat-raised-button color="primary" (click)="startGame()">Start Spiel</button>
      </div>
    </div>

  </div>  <!-- playing mode -->

  <div *ngIf="mode === 'training'">
    <div class="row justify-content-center">

      <form #trainerRegForm='ngForm' (ngSubmit)="startGameAsTrainer(trainerRegForm)">
        <h2 class="text-center">Trainer registration</h2>

        <div class="form-group">
          <input type="text" class="form-control" placeholder="Trainer Name" name="trainerName" ngModel>
        </div>
        <div *ngIf="trainerNameInvalid" class="text-danger">
          <div>Trainer name is required.</div>
          <br>
        </div>

        <div class="align-center">
          <button mat-raised-button color="primary" type="submit" id="registertrainer">Start</button>
        </div>
      </form>

      <!--
      <form [formGroup]="trainerForm">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Trainer name" type="text" formControlName="name" [(ngModel)]="name">
        </mat-form-field>
      </form>
      -->

    </div>
  </div>  <!-- training mode -->


</div>
